* {
    padding: 0;
    margin: 0;
    font-family: fantasy;
    font-weight: 1;
    user-select: none;
}

.hidden {
    display: none !important;
}

:root {
    --child-count: 25;
}

body {
    width: 100vw;
    height: 100vh;
    color: #67D74B;
    background-color: #432222;
} 

button {
    cursor:pointer;
}

.level-selector-toggle {
    position: absolute;
    right: 10px;
    top:10px;

    width: 80px;
    aspect-ratio: 1/1;

    background: #996237;
    border: solid #5c3b19 clamp(1px, 1vw, 13px);
}
.level-selector-toggle:hover {
    filter: brightness(0.9);
}
.level-selector-toggle:active {
    filter: brightness(0.7);
    transform: translate(1px, 1px);
}

.level-selection-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    height: fit-content;
    width: fit-content;
    background: #996237;
    border: solid #5c3b19 clamp(1px, 1vw, 13px);
    padding: 1vw;
}

.level-selection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
}

.level-option {
    box-sizing: border-box;
    width: 8vw;
    height: 8vw;
    margin: 1vw;
    font-size: 4vw;
    color: #67D74B;
    border: 1vw solid #1D5122;
    background-color: #266F30;
}

.close-level-selector {
    position: absolute;
    box-sizing: border-box;
    right: calc(2vw);
    top: 1.5vw;
    height: 4.5vw;
    width: 4.5vw;
    font-size: 3vw;
    color: #67D74B;
    background-color: #824b30;
    border: 0.5vw solid #5c3b19;
    font-family: monospace;
    font-weight: bold;
}

.level-option:hover, .close-level-selector:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.level-option:active, .close-level-selector:active {
    filter: brightness(0.7);
    transform: translate(1px, 1px);
}

.placement-grid {
    background-color: #824b30;

    width: 60%;
    max-width: 600px;
    padding: 10px;

    position: relative;

    display: grid;
    gap: 7px;
    grid-template-columns: repeat(calc(sqrt(var(--child-count))), 1fr);
}

.placement-grid .slot {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #996237;
    border: solid #5c3b19 clamp(1px, 1vw, 13px);
}

.crop {
    width: calc(6%)/*calc(((190*1)+10) * 1px)*/;
    max-width: 144px;
    aspect-ratio: 1/1;
    position: absolute;
    cursor: grab;
}

.playing-area {
    height: fit-content;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-height: 800px;
    max-width: 800px;
}

.background {
    background: #996237;
    border: solid #5c3b19 clamp(1px, 1vw, 13px);
    width: 40%;
}

.tomato {
    background-color: red;
    border: solid rgb(223, 0, 0) clamp(1px, 1vw, 13px);
}

.carrot {
    background-color: orange;
    border: solid rgb(217, 141, 0) clamp(1px, 1vw, 13px);
}

.watermelon {
    background-color: green;
    border: solid rgb(0, 74, 0) clamp(1px, 1vw, 13px);
}

.crop:active {
    cursor: grabbing;
}

#mouse-selector {
    width: calc(6%)/*calc(((190*1)+10) * 1px)*/;
    max-width: 144px;
    aspect-ratio: 1/1;
    position: absolute;

    /* background-color: grey; */

    pointer-events: none;
}
