* {
    padding: 0;
    margin: 0;
    font-family: fantasy;
    font-weight: 1;
}

:root {
    --child-count: 14;
}

body {
    width: 100vw;
    height: 100vh;
    color: #67D74B;
    background-color: #432222;
} 

.level-option {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #67D74B;
    border: 5px solid #1D5122;
    background-color: #266F30;
}

.level-option:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.level-option:active {
    filter: brightness(0.7);
    transform: translate(1px, 1px);
}

.placement-grid {
    background-color: #824b30;
    width: 60%;
    max-width: 600px;

    translate: -50% -50%;
    position: relative;
    left: 50%;
    top: 45%;
    
    padding: 10px;

    display: grid;
    gap: 7.5px;
    grid-template-columns: repeat(calc(sqrt(var(--child-count))), 1fr);
}
.placement-grid .slot {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #996237;
    border: solid #5c3b19 7.5px;
}

#crop {
    width: calc(10%)/*calc(((190*1)+10) * 1px)*/;
    max-width: 144px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 26, 26);

    position: absolute;
    /* translate: -50% -50%; */

    cursor: grab;
}
#crop:active{
    cursor: grabbing;
}