* {
    padding: 0;
    margin: 0;
}

:root {
    --child-count: 14;
}

body {
    width: 100vw;
    height: 100vh;
} 

.placement-grid {
    background-color: gainsboro;
    width: 60%;
    max-width: 600px;

    translate: -50% -50%;
    position: absolute;
    left: 50%;
    top: 45%;
    
    padding: 10px;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(calc(sqrt(var(--child-count))), 1fr);
}
.placement-grid .slot {
    width: 100%;
    aspect-ratio: 1/1;

    background-color: white;
    border-color: white;
    border-width: 2px;
}

#crop {
    width: 67px/*calc(((190*1)+10) * 1px)*/;
    aspect-ratio: 1/1;
    background-color: gray;

    position: absolute;
    /* translate: -50% -50%; */
    left: 50%;

    cursor: grab;
}
#crop:active{
    cursor: grabbing;
}