* {
    padding: 0;
    margin: 0;
    font-family: fantasy;
    font-weight: 1;
    user-select: none;
    color: #67D74B;
}

body {
    background-color: #4d2d28;
}

.hidden {
    display: none !important;
}

.game-menu {
    padding: 10px;
    background-color: #4d2d28;
    border-bottom: 4px solid #5a332d;
}

.menu-title {
    font-size: clamp(30px, 4vw, 60px);
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: #67D74B;
}

#textBody {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    gap: 10vw;
    padding-right: 20px;
}

#sidebar {
    background-color: #4d2d28;
    border-right: 5px solid #5a332d;
    height: 100vh;
    padding: 10px;
}

